/*-----------------------------------------------------*\
  *THIS CSS IS FOR THE APPEARANCE OF THE IFRAME(RECIPES)
\*-----------------------------------------------------*/

/**---SECTIONS:---*
  *
  *---BOX SIZING---*
  *
  *---BODY---*
  *
  *---HEADER---*
    * 1. Drop-down list container*
      * a, List elements*
      * b, OK button rules*
      * c, List elements hover*
      * d, OK button hover*
  *
  *---NAME OF THE DISH CONTAINER---*
  *
  *---INGREDIENTS CONTAINER---*
  *
  *---FOODPHOTO CONTAINER---*
  *  
  *---RECIPE CONTAINER---*
/*---BOX SIZING---*/ 
* {
  box-sizing: border-box;  
}

/*---BODY RULES---*/
body {
  margin-top: 4%; /*<-BECAUSE THE BUTTONS*/
  background-color: rgba(0, 1, 20, 0.85);
  color: ivory;
  text-shadow: 1px 2px 10px blue;
  font-family: 'exo';
}

/*---DROP-DOWN LIST RULES---*/
.selectRecipe {
  position: fixed;
  display: inline-block;
  float: left;
  top: 0;
  z-index: 999;
  letter-spacing: .1rem;
}

/*---LIST ELEMENTS RULES---*/
#menu {
  font-size: .9rem;
  background-color: rgba(11, 15, 34, 1);
  color: ivory;
  border: 1px solid lightblue;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: .1rem;
}

/*---OK BUTTON RULES---*/
.jumpButton {
  font-size: .9rem;
  background-color: ivory;
  color: rgba(11, 15, 34, 1);
  font-weight: bold;
  border: 1px solid lightblue;
  border-radius: 5px;
  cursor: pointer;
}

/*---LIST ELEMENTS HOVER RULES---*/
#menu:hover {
  background-color: rgba(20, 25, 45, 1);
}

/*---OK BUTTON HOVER RULES---*/
.jumpButton:hover {
  background-color: whitesmoke;  
}

/*---NAME OF THE DISH CONTAINER RULES---*/
.nameOfTheDish {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 4px;
  display: block;
  text-align: center;
  background: rgba(11, 15, 34, 1);
  border: .2rem solid lightblue;
  border-radius: 5px;
  top: 1.3rem;
} 

/*---INGREDIENTS CONTAINER RULES---*/
.ingredients {
  text-align: center;
  line-height: 130%;  
  display: block;
  margin: 4px;
}

.ingredients p {
  font-weight: bold;
  font-size: 1.2rem;
}

/*---FOODPHOTO CONTAINER RULES---*/
.foodPhoto {
    text-align: center;
}

.foodPhoto img {
  height: 12rem;
  border-radius: 10px;
}


/*---RECIPE CONTAINER RULES---*/
.recipe {
  text-align: justify;
  line-height: 140%;
  padding: 1rem 1rem;
  line-height: 1.5rem;  
}

.recipe::after {
  content:"";
  display: block;
  border: 1px solid lightblue;
  margin: 1% auto;
  width: 60%;
  filter:blur(1px);  
}


/*NAVIGATION, EFFECTS AND VISIBILITY*/

.recipeWrapper 8 {
  display: none;
}

