* {
  box-sizing: border-box;  
}

body {
  margin-top: 4%;
}
.search-container {
  position: fixed;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  padding: 1%;  
}
.nameOfDish {
  font-family: 'vollkorn';
  font-size: 1.1rem;
  padding: 2px;
}
.introductory {
  display: inline-block;
  
}
.ingredients {
  float: left;
  font-family: 'exo';
}
.dishPicture img {
  width: 50%;
 float: right;
  border-radius: 10px;
}
.recipe {
  font-family: 'vollkorn';
}