
/*GENERAL FORMATTING*/

* {
  box-sizing: border-box;  
}

body {
  margin-top: 4%;
  background-color: rgba(0, 1, 20, 0.85);
  color: white;
  text-shadow: 1px 2px 10px blue;
  font-family: 'exo';
}

#recipeWrapper1 {
  margin-top: 2rem;
}

.nameOfDish {
  font-size: 1.3rem;
  padding: 2px;
  display: block;
  text-align: center;
  background: rgba(11, 15, 34, 1);
  border: .1rem solid ivory;
 } 

.introductory {
  padding: 1rem 1rem;
  display: table;
  margin: 0 auto;
}

.ingredients {
  float: left;
  line-height: 130%;  
  display: table-cell;
  margin: 3% auto;  
}

.ingredients p {
  font-weight: bold;
  font-size: 1.2rem;
}

.ingredients li {
  margin-left: 5%;
}

.dishPic img{
  display: table-cell;
  max-width: 45%;
  border-radius: 10px;
  margin: 6% auto;
  border: .1rem solid ivory;
  transform: rotate(-10deg);
}

.recipe {
  text-align: justify;
  line-height: 140%;
  padding: 1rem 1rem;
  line-height: 1.5rem;  
}

.recipe::after {
  content:"";
  display: block;
  border: 1px solid ivory;
  margin: 1% auto;
  width: 60%;
  filter:blur(1px);  
}


/*NAVIGATION, EFFECTS AND VISIBILITY*/

#switch-menu {
  position: fixed;
  display: inline-block;
  float: left;
  top: 0;
  z-index: 999;
  letter-spacing: .1rem;
}

#menu {
  font-size: 1rem;
  background-color: rgba(11, 15, 34, 1);
  color: ivory;
  border: 1px solid ivory;
  font-weight: bold;
  letter-spacing: .1rem;
}


#jumpToThis {
  font-size: 1rem;
  background-color: ivory;
  color: rgba(11, 15, 34, 1);
  font-weight: bold;
  border: 1px solid rgba(11, 15, 34, 1);
}
#menu:hover {
  background-color: rgba(20, 25, 45, 1);
  
}
#jumpToThis:hover {
  background-color: ghostwhite;
}

#recipeWrapper8 {
  display: none;
}

