/*-----------------------------------------------------*\
  *THIS CSS IS FOR THE APPEARANCE OF THE IFRAME(WELCOME)
\*-----------------------------------------------------*/

/**---SECTIONS:---*
  *
  *---BOX SIZING---*
  *
  *---BODY---*
  *
  *---WELCOME TITLE CONTAINER---*
    * 1. date rules *
  
/*---BOX SIZING---*/ 
* {
  box-sizing: border-box;  
}

/*---BODY RULES---*/
body {
  color: ivory;
  text-shadow: 1px 2px 10px blue;
}


/*---WELCOME TITLE CONTAINER RULES---*/
.welcome {
  margin-top: 8%;
  font-family: 'Great vibes';
  font-weight: bold;
  font-size: 1.4rem;
  display: block;
  text-align: center;    
}

#date {
  margin-top: 8%;
  display: block;
  text-align: center;   
  font-family: 'Exo';
}
